{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <base href="/app/">
    <title>Conflict Minerals Data Collection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"></head>
  <body>
    <my-app>Loading...</my-app>
    <script src="{% static "index.js" %}"></script>
  </body>
</html>
