.mat-table, .mat-input-container {
  /* No idea why this didn't work by default */
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.documents-table .mat-row {
  height: inherit;
  padding: 1rem 2rem;
}

.app-tools {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.mat-input-underline { 
  margin-bottom: -2px; 
}

.app-tools .mat-input-container {
  margin-right: 2rem;
  width: 18rem;
}

.app-tools .mat-select {
  margin-top: 8px;
}

.app-documents-cell {
  display: flex;
  flex-direction: column;
}

.mat-column-companyName { flex: 1 !important; }
.mat-column-filingLink { flex: 1 !important; }
.mat-column-filingDate { flex: 1 !important; }
.mat-column-documents { flex: 2 !important; }
.mat-column-documentLinks { flex: 4 !important; }

.mat-column-documentLinks {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mat-column-documentLinks .app-link-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-overflow: ellipsis;
}