

<div class="app-tools">
  <span class="app-spacer"></span>
  <md-input-container floatPlaceholder="always">
    <input mdInput #filter placeholder="Filter table">
  </md-input-container>
  <md-select placeholder="Year" [(ngModel)]="data.year" floatPlaceholder="always">
      <md-option *ngFor="let year of years" [value]="year">{{ year }}</md-option>
  </md-select>
</div>
<md-table class="documents-table" #table [dataSource]="dataSource" mdSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container cdkColumnDef="companyName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Company </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.company.conformed_name}} </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="filingLink">
      <md-header-cell *cdkHeaderCellDef> Filing Link </md-header-cell>
      <md-cell *cdkCellDef="let row"> <a href="{{row.link}}">Go to Filing</a> </md-cell>
    </ng-container>

    <ng-container cdkColumnDef="filingDate">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Filing Date </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{ row.date | date:'yyyy-MM-dd' }} </md-cell>
    </ng-container>

    <!-- Company Link Column 
    <ng-container cdkColumnDef="companyLink">
      <md-header-cell *cdkHeaderCellDef> Company Link </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.company_link}}% </md-cell>
    </ng-container>
    -->

    <-- Documents -->
    <ng-container cdkColumnDef="documents">
      <md-header-cell *cdkHeaderCellDef> Documents </md-header-cell>
      <md-cell class="app-documents-cell" *cdkCellDef="let row"> 
        <div *ngFor="let doc of row.documents">
          <a href="{{ doc.doc_url }}">{{ doc.description || 'No description' }}</a>
        </div>
      </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

<ul>
  <li *ngFor="let filing of filings">
    {{ filing.company.conformed_name | titlecase }} - <a href="{{ filing.link }}">{{ filing.date | date:'MM-dd-yyyy'}}</a>
    <div *ngFor="let doc of filing.documents">
      {{ doc.doc_type }}
    </div>
  </li>
</ul>
