.mat-table, .mat-input-container {
  /* No idea why this didn't work by default */
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.documents-table .mat-row {
  height: inherit;
  padding: 1rem 2rem;
}

.app-tools {
  display: flex;
  align-items: center;
}

.app-tools .mat-input-container {
  margin-top: 0.1rem;
  margin-right: 6rem;
}

.app-documents-cell {
  display: flex;
  flex-direction: column;
}
